
header {
    padding: 30px;
    background: #000000;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2; 
}