.sidenav {
    max-width: 240px;
    width: auto;
    background: #011627;
    position: fixed;
    top: 60px;
    left: 0; 
    height: 100vh;
    padding: 0 30px;
    transition: all 1s;
    z-index: 1; 
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin: 0 0 5px 0;
}
ul li :first-child {
    margin-top: 5px;
}

ul li h2 {
    color: #eaecef;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
    text-transform: uppercase;
}
.dec-none {
    text-decoration: none;
    color: inherit;
}

.disabled-link {
    opacity: 0.5;
    pointer-events: none;
  }

ul li h2:hover,
ul li h2.active {
 background: #172b4d;
}
