.sidenav {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    width: auto;
    background: #0e0d0d;
    position: fixed;
    top: 60px;
    height: 100vh;
    padding: 0 30px;
    transition: left 0.5s;
    z-index: 1;
    left: -180px; 
  }
  
  .sidenav.open {
    left: 0px; 
  }

  .primary {
    background-color: red;
  }
  
  .toggle-button {
    align-self: flex-end;
    margin: 10px; 
  }

  .cont-btn {
    position: relative;
    top: 5px;
    left: 100px;
  }

  .cont-btn button {
    position: absolute;
    left: 70px;
    top: -5px;
  }
  
ul {
    padding: 0;
    background: #0e0d0d;
}

ul li {
    list-style: none;
    margin: 0 5 5px 0;
    background: #0e0d0d;
}
ul li :first-child {
    margin-top: 5px;
    background: #070707;
}

ul li h2 {
    color: #efecea;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
    text-transform: uppercase;
    background: #070707;
}
.dec-none {
    text-decoration: none;
    color: inherit;
}

.disabled-link {
    opacity: 0.5;
    pointer-events: none;
  }

ul li h2:hover {
 background: #1d1d1d;
}
